@{
    ViewData["Title"] = "امکانات و خدمات";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Amenities Section Start -->
<div id="amenities">
    <div class="container">
        <div class="section-header">
            <h2>امکانات و خدمات تور</h2>
            <p>
                خدمات و امکانات کامل برای تجربه‌ای بی‌نظیر در تورهای گردشگری ایران
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-2"></i>
                    <h3>اتاق خنک</h3>
                    <p>اتاق‌های مجهز به سیستم تهویه مطبوع و کولر</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-3"></i>
                    <h3>حمام لوکس</h3>
                    <p>حمام‌های مجهز و تمیز در هتل محل اقامت</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-4"></i>
                    <h3>استراحت راحت</h3>
                    <p>زمان استراحت کافی بین برنامه‌های گردشگری</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-6"></i>
                    <h3>سرگرمی در هتل</h3>
                    <p>دسترسی به تلویزیون و امکانات سرگرمی در هتل</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-7"></i>
                    <h3>اینترنت رایگان</h3>
                    <p>دسترسی به اینترنت وای‌فای رایگان در طول سفر</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-8"></i>
                    <h3>ارتباط آسان</h3>
                    <p>امکان تماس تلفنی و ارتباط آسان در طول تور</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-9"></i>
                    <h3>تنقلات رایگان</h3>
                    <p>مینی بار مجهز به نوشیدنی و تنقلات در اتاق</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <i class="icon icon-10"></i>
                    <h3>غذای ایرانی</h3>
                    <p>سرو غذاهای ایرانی در رستوران‌های منتخب</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Amenities Section Start -->