@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Contact Section Start -->
<div id="contact">
    <div class="container">
        <div class="section-header">
            <h2>تماس با ما</h2>
            <p>
                برای دریافت اطلاعات بیشتر، مشاوره رایگان یا رزرو تورها با ما در ارتباط باشید. کارشناسان ما آماده پاسخگویی به شما هستند.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-info">
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="fa fa-map-marker"></i>
                            <h3>آدرس</h3>
                            <p>تهران، خیابان دانشگاه، پلاک ۱۲۳</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="fa fa-envelope"></i>
                            <h3>ایمیل</h3>
                            <p><a href="/">tur@dreamytours.ir</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-item">
                            <i class="fa fa-phone"></i>
                            <h3>تلفن</h3>
                            <p><a href="tel:+982112345678">۰۲۱-۱۲۳۴۵۶۷۸</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" id="name" required="required" data-validation-required-message="لطفا نام خود را وارد کنید" style="text-align: right; direction: rtl;" />
                                <p class="help-block text-danger" style="text-align: right;"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">ایمیل</label>
                                <input type="email" class="form-control" id="email" required="required" data-validation-required-message="لطفا ایمیل خود را وارد کنید" style="text-align: right; direction: rtl;" />
                                <p class="help-block text-danger" style="text-align: right;"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label style="display: block; text-align: right;">موضوع</label>
                            <input type="text" class="form-control" id="subject" required="required" data-validation-required-message="لطفا موضوع را وارد کنید" style="text-align: right; direction: rtl;" />
                            <p class="help-block text-danger" style="text-align: right;"></p>
                        </div>
                        <div class="control-group">
                            <label style="display: block; text-align: right;">پیام</label>
                            <textarea class="form-control" id="message" rows="5" required="required" data-validation-required-message="لطفا پیام خود را وارد کنید" style="text-align: right; direction: rtl;"></textarea>
                            <p class="help-block text-danger" style="text-align: right;"></p>
                        </div>
                        <div class="button" style="text-align: right;"><button type="submit" id="sendMessageButton">ارسال پیام</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->