@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div id="header-bottom">
    <!-- Main Search Section Start -->
    <div id="search" class="search-slider">
        <div class="container">
            <h1>حس راحتی کنید وقتی دور از خانه هستید</h1>
            <div class="form-row">
                <!-- First row of search filters -->
                <div class="form-row w-100">
                    <!-- Destination filter -->
                    <div class="control-group col-md-3">
                        <label>مقصد تور</label>
                        <select class="custom-select">
                            <option selected value="">همه مقاصد</option>
                            <option value="tehran">تهران</option>
                            <option value="mashhad">مشهد</option>
                            <option value="isfahan">اصفهان</option>
                            <option value="shiraz">شیراز</option>
                            <option value="kish">کیش</option>
                        </select>
                    </div>

                    <!-- Tour type filter -->
                    <div class="control-group col-md-3">
                        <label>نوع تور</label>
                        <select class="custom-select">
                            <option value="air">پروازی</option>
                            <option value="land">زمینی</option>
                            <option value="sea">دریایی</option>
                            <option value="mix">ترکیبی</option>
                        </select>
                    </div>


                    <!-- Group type filter -->
                    <div class="control-group col-md-3">
                        <label>نوع گروه</label>
                        <select class="custom-select">
                            <option selected value="">همه</option>
                            <option value="private">خصوصی</option>
                            <option value="group">گروهی</option>
                            <option value="family">خانوادگی</option>
                            <option value="couple">زوج</option>
                            <option value="single">تک نفره</option>
                        </select>
                    </div>
                </div>
                <!-- Check-in date field -->
                <div class="form-group">
                    <label>تاریخ ورود</label>
                    <div class="input-group" id="date-1">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" class="form-control persian-date-input" placeholder=" تاریخ ورود" readonly />
                    </div>
                </div>

                <!-- Check-out date field -->
                <div class="form-group mr-3 ">
                    <label>تاریخ خروج</label>
                    <div class="input-group" id="date-2">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" class="form-control persian-date-input" placeholder=" تاریخ خروج" readonly />
                    </div>
                </div>

                <!-- Tour duration filter -->
                <div class="control-group col-md-2">
                    <label>مدت تور</label>
                    <select class="custom-select">
                        <option selected value="">همه مدت‌ها</option>
                        <option value="1">1 روزه</option>
                        <option value="2">2 روزه</option>
                        <option value="3">3 روزه</option>
                        <option value="4">4 روزه</option>
                        <option value="5">5 روزه</option>
                        <option value="6">6 روزه</option>
                        <option value="7">7 روزه</option>
                        <option value="8">8 روزه</option>
                    </select>
                </div>
                <!-- Adults and children selection -->
                <div class="control-group col-md-2">
                    <div class="form-row">
                        <div class="control-group col-md-6">
                            <label>بزرگسال</label>
                            <select class="custom-select">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="control-group col-md-6 control-group-kid">
                            <label>کودک</label>
                            <select class="custom-select">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Search button -->
                <div class="control-group col-md-2">
                    <button class="btn btn-block" style="margin-top: 28px;"><i class="fa fa-search"></i> جستجو </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Search Section End -->
    <!-- Image Slider Section Start -->
    <div id="headerSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
            <li data-target="#headerSlider" data-slide-to="1"></li>
            <li data-target="#headerSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/slider/header-slider-1.jpeg" alt="Royal Hotel">
            </div>

            <div class="carousel-item">
                <img src="~/img/slider/header-slider-2.jpeg" alt="Royal Hotel">
            </div>

            <div class="carousel-item">
                <img src="~/img/slider/header-slider-3.jpeg" alt="Royal Hotel">
            </div>
        </div>

        <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">قبلی</span>
        </a>
        <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">بعدی</span>
        </a>
    </div>
    <!-- Image Slider Section End -->
</div>
<!-- Header Bottom End -->
<!-- Mobile Search Section Start -->
<div id="search" class="search-home">
    <div class="container">
        <div class="form-row">

            <div class="control-group col-md-12">

                <!-- Mobile destination filter -->
                <div class="control-group col-md-6">
                    <label>مقصد تور</label>
                    <select class="custom-select">
                        <option selected value="">همه مقاصد</option>
                        <option value="tehran">تهران</option>
                        <option value="mashhad">مشهد</option>
                        <option value="isfahan">اصفهان</option>
                        <option value="shiraz">شیراز</option>
                        <option value="kish">کیش</option>
                    </select>
                </div>

                <!-- Mobile tour type filter -->
                <div class="control-group col-md-6">
                    <label>نوع تور</label>
                    <select class="custom-select">
                        <option selected value="">همه انواع</option>
                        <option value="air">پروازی</option>
                        <option value="land">زمینی</option>
                        <option value="sea">دریایی</option>
                    </select>
                </div>

                <!-- Mobile group type filter -->
                <div class="control-group col-md-6">
                    <label>نوع گروه</label>
                    <select class="custom-select">
                        <option selected value="">همه</option>
                        <option value="private">خصوصی</option>
                        <option value="group">گروهی</option>
                        <option value="family">خانوادگی</option>
                    </select>
                </div>

                <!-- Mobile tour duration filter -->
                <div class="control-group col-md-6">
                    <label>مدت تور</label>
                    <select class="custom-select">
                        <option selected value="">همه مدت‌ها</option>
                        <option value="1">1 روزه</option>
                        <option value="2">2 روزه</option>
                        <option value="3">3 روزه</option>
                        <option value="4">4 روزه</option>
                        <option value="5">5 روزه</option>
                    </select>
                </div>

                <!-- Mobile check-in date -->
                <div class="control-group col-md-6">
                    <label>ورود</label>
                    <div class="form-group">
                        <div class="input-group" id="date-3-mobile">
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <input type="text" class="form-control persian-date-input" placeholder=" تاریخ ورود" readonly />
                        </div>
                    </div>
                </div>

                <!-- Mobile check-out date -->
                <div class="control-group col-md-6">
                    <label>خروج</label>
                    <div class="form-group">
                        <div class="input-group" id="date-4-mobile">
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <input type="text" class="form-control persian-date-input" placeholder=" تاریخ خروج" readonly />
                        </div>
                    </div>
                </div>

                <!-- Mobile adults and children selection -->
                <div class="control-group col-md-6">
                    <div class="form-row">
                        <div class="control-group col-md-6">
                            <label>بزرگسال</label>
                            <select class="custom-select">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="control-group col-md-6 control-group-kid">
                            <label>کودک</label>
                            <select class="custom-select">
                                <option selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Mobile search button -->
                <div class="control-group col-md-12">
                    <button class="btn btn-block" style="margin-top: 15px;"> <i class="fa fa-search"></i> جستجو </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Search Section End -->
<!-- Persian Calendar Modal -->
<div class="modal fade" id="persianCalendarModal" tabindex="-1" aria-labelledby="persianCalendarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header paleblue-bg text-white">
                <h5 class="modal-title" id="persianCalendarModalLabel">تقویم فارسی (جلالی)</h5>

            </div>
            <div class="modal-body">
                <!-- Today's date display -->
                <div class="today-date mb-3 p-2 bg-light rounded text-center">
                    امروز: <span id="todayPersianDate" class="font-weight-bold text-primary">در حال بارگذاری...</span>
                </div>

                <!-- Selected date display -->
                <div class="current-date-display text-center mb-3">
                    تاریخ انتخاب شده: <span id="selectedDateDisplay" class="font-weight-bold text-success">هیچ تاریخی انتخاب نشده است</span>
                </div>

                <div class="datepicker-container">
                    <div class="calendar-nav d-flex justify-content-between align-items-center mb-3 p-2 bg-light rounded">
                        <button id="prevMonth" class="btn btn-sm paleblue">
                            <i class="fa fa-chevron-right"></i> ماه قبل
                        </button>
                        <h5 id="currentMonthYear" class="mb-0 text-dark font-weight-bold">اسفند ۱۴۰۲</h5>
                        <button id="nextMonth" class="btn btn-sm paleblue">
                            ماه بعد <i class="fa fa-chevron-left"></i>
                        </button>
                    </div>
                </div>
                <!-- Calendar container -->
                <div id="calendarContainer" class="mb-4">
                    <!-- Calendar will be generated here by JavaScript -->
                    <div class="text-center text-muted py-5">
                        <p>لطفا صبر کنید...</p>
                    </div>
                </div>
            </div>

            <!-- Modal action buttons -->
            <div class="text-center p-3">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">بستن</button>
                <button type="button" class="btn paleblue-bg" id="selectTodayBtn">انتخاب امروز</button>
            </div>
        </div>
    </div>
</div>
<div id="welcome">
    <div class="container">
        <h4>تورهای رویایی ایران | پیشرو در تجربه‌های سفر منحصربه‌فرد</h4>
        <p>
            به <strong>تورهای رویایی ایران</strong> خوش آمدید؛ جایی که ما فراتر از رزرو بلیط و هتل، <strong>خاطرات ماندگار</strong> می‌سازیم. ما معتقدیم هر سفر باید همچون یک رویای زیبا باشد: بی‌دغدغه، اصیل و پر از کشف لحظه‌های ناب. با سال‌ها تخصص و عشق به ایران‌گردی، مسیرهایی را برای شما طراحی کرده‌ایم که زیبایی‌های کهن و مدرن این سرزمین را یکجا به رخ می‌کشد. از کویرهای ساکت ستاره‌خیز تا هیجان بازارهای شلوغ، از طعم غذاهای محلی تا شکوه معماری تاریخی، ما تمام جزئیات یک سفر رویایی را برای شما فراهم می‌کنیم.
        </p>
        <a href="/Home/Tours">رزرو</a>
    </div>
</div>
