@{
    ViewData["Title"] = "ورود / ثبت‌نام";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Login Section Start -->
<div id="login">
    <div class="container">
        <div class="section-header">
            <h2>ورود / ثبت‌نام</h2>
            <p>
                برای دسترسی به امکانات ویژه و رزرو تورها، وارد حساب کاربری خود شوید یا ثبت‌نام کنید.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="login-form">
                    <form>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">ایمیل</label>
                                <input type="email" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">رمز عبور</label>
                                <input type="password" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">تکرار رمز عبور</label>
                                <input type="password" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                        </div>
                        <div class="button" style="text-align: right;"><button type="submit">ثبت‌نام</button></div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="login-form">
                    <form>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">ایمیل</label>
                                <input type="email" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                            <div class="control-group col-sm-6">
                                <label style="display: block; text-align: right;">رمز عبور</label>
                                <input type="password" class="form-control" required="required" style="text-align: right; direction: rtl;" />
                            </div>
                        </div>
                        <div class="button" style="text-align: right;"><button type="submit">ورود</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Section End --><!-- Footer Section Start -->
<div id="footer">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <p>تمامی حقوق برای <a href="">تورهای رویایی ایران</a> محفوظ است</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section End -->
